burrow/bin
burrow/test_chain
db_client
tendermint
go-ethereum-client/tx-extractor/read
geth-client/db
shard*
burrow/chain_*
.*~
burrow/.keys

binaries
.vscode
data/

# Binaries
multi-shard-replayer
single-shard-replayer
generate

# Scripts
*.sh

chain_*/
bin/
burrow-client/logs-processing/cluster/
burrow-client/logs-processing/final_tests/
